body{
  background-color: #cdffeb;
  margin: 0;
  text-align: center;
font-family: 'Merriweather', serif;
}
h1{
  margin-top: 0;
  font-size: 50px;
  margin: 0 auto ;
  font-family: 'Sacramento', cursive;
}
h2{
font-family: 'Montserrat', sans-serif;

}
h3{
  font-family: 'Montserrat', sans-serif;
}
p{
  font-size: 20px;
}
.top{
  background-color: #fcbad3;
}
.bottom{


}
.middle{
  background-color:#C7004C;
}
.topc{
  padding-top:50px;
  position: relative;
  left:  200px;
}
.bottomc{
  position: relative;
  right: 200px;
}
.abcd{height: 150px;
  position: absolute;
  top:880px;
  left:170px;

}
.xyz{height: 200px;
  position: absolute;
  left: 420px;
}
.pqr{
  position: absolute;
  top:680px;

}
.qw
{  margin-top: 90px;
   position: absolute;
  right:700px;
}
.yui{margin-top: 70px;
  position: absolute;
  right: 150px;
}
.kl{margin-top: 70px;
  position: absolute;
  left: 150px;

}
